{% load static %}
<html>
    <head>
   <link rel="stylesheet" type="text/css" href="{% static '/styles.css' %}">
 </head>
<body>
    <div>
    <h1> Welcome </h1>
    <form action="/logOut/" method="post">{% csrf_token %}
     <input type="submit" name="log out" value="Log Out" class="leftPadding">        
    </form>
    </div>
    
    <h2> Click on the appropriate option </h2>
    <form action="/enterUserDetailsPage/" method="post">{% csrf_token %}
        <input type="submit" name="Enter User Details" value="Enter User Details">
    </form>
    
    <form action="/viewUserDetails/" method="post"> {% csrf_token %}
       <input type="submit" name="View User Details" value="View User Details">
    </form>
    
    <form action="/updateUserDetails/" method="post"> {% csrf_token %}
       <input type="submit" name="Update User Details" value="Update User Details">
    </form>
    
    <form action="/rubricsForm/" method="post"> {% csrf_token %}
        <input type="submit" name="Rubrics Form" value="Rubrics form">       
    </form>
    
    <form action="/deleteForm" method="post"> {% csrf_token %}
        <input type="submit" name="Delete User Details"value="Delete Details"
    </form> 
        
    
</body>
</html>